body{
    
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    padding: 15px 0;
    width: 100vw;
}

.logo{
    
    margin-left: 100px;
}

.logo img{
    width: 132px;
}

.nave{
    margin-right: 100px ;
}

#nav_header li {
    color:white;
    display: inline;
    margin: 0 0 0 20px;
    
}

#nav_header a{
    color: white;
    font-weight: 600;
	font-size: 15px;
    text-decoration: none;   
}

#nav_header a:hover{
    color: #1ed760;
}

main{
    
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(showcase.jpg);
}

.content{

    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content h1{
    
    
    font-size: 156px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px ;
} 

.content h2{
    
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 80px ;
} 

#botao{
    
    
    font-size: 18px;
    font-weight: bold;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 500px;
    background-color: #1ed760;
    
}

#botao:hover{
    font-size: 20px;
}

footer{
    display: flex;
    background-color: black;
    width: 100vw;
    
}

.social{
    
    display:flex;
    padding: 50px 200px 20px;
    justify-content:space-evenly;
    margin-right: 120px ;
    width: 100vw;
    height: 30vh;
    
}

.social .empresa li{
    padding: 10px 0 15px;
    
}

.social .comunidade li{
    padding: 10px 0 15px;
}

.social .links li{
    padding: 10px 0 15px;
}

.social .empresa li:nth-child(-n+1){
    margin-top: 10px;
    color: #919496;
    font-weight: bold;
    font-size: 12px;
}

.social .comunidade li:nth-child(-n+1){
    margin-top: 10px;
    color: #919496;
    font-weight: bold;
    font-size: 12px;

}

.social .links li:nth-child(-n+1){
    margin-top: 10px;
    color: #919496;
    font-weight: bold;
    font-size: 12px;

}

.social .empresa li:nth-child(n+2){
    color:white;
    font-weight: bold;
    font-size: 16px;
    
}

.social .empresa li:nth-child(n+2) a:hover{
    color:#1ed760;
    font-weight: bold;
    font-size: 16px;
    
}

.social .comunidade li:nth-child(n+2){
    color:white;
    font-weight: bold;
    font-size: 16px;
}

.social .comunidade li:nth-child(n+2) a:hover{
    color:#1ed760;
    font-weight: bold;
    font-size: 16px;
}

.social .links li:nth-child(n+2){
    color:white;
    font-weight: bold;
    font-size: 16px;
}

.social .links li:nth-child(n+2) a:hover{
    color:#1ed760;
    font-weight: bold;
    font-size: 16px;
}

#social_media{
    margin-left: 150px;

}

#social_media li{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #222326;
    width: 54px;
    height: 54px;
}



#item1 img{
    width: 24px;
    height: auto;  
    
}

#item2 img{
    width: 24px;
    height: auto;  
}

#item3 img{
    width: 14px;
    height: auto;  
}

#item1 a:hover{
    background-image: url(instagram_green.png);
}

