body{
    
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    padding: 15px 0;
    width: 100vw;
}

.logo{
    
    margin-left: 100px;
}

.logo img{
    width: 132px;
}

.nave{
    margin-right: 100px ;
}

#nav_header li {
    color:white;
    display: inline;
    margin: 0 0 0 20px;
    
}

#nav_header a{
    color: white;
    font-weight: 600;
	font-size: 15px;
    text-decoration: none;   
}

#nav_header a:hover{
    color: #1ed760;
}

main{
    
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(showcase.jpg);
}

.content{

    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content h1{
    
    
    font-size: 156px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px ;
} 

.content h2{
    
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 80px ;
} 

#botao{
    
    font-size: 18px;
    font-weight: bold;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 500px;
    background-color: #1ed760;
    
}

#botao:hover{
    font-size: 20px;
    
}

footer{
    display: flex;
    background-color: black;
    width: 100vw;
    
}

.social{
    
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

#item1{
    color: white;
    background-color: #222326;
}

footer nav a{
    color: white;
}